/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

label{
  display: block;
}

.input_postcode{
  color: #000;
  background: white;
  border: 3px solid steelblue;
  margin: 1em auto;
  min-height: 4em;
  padding: 1em;
  text-align: center;
}

.submit_postcode{
	border: 3px solid steelblue;
	color: #fff;
  background: steelblue;
  margin: 1em auto;
  min-height: 4em;
  padding: 1em;
}

.flexAlign{
  display: inline-block;
  justify-content: center;
  align-content: space-between;
  gap: 10px;
}

.distance_km{
  width: 100%;
  color: #000;
  background: white;
  border: 3px solid steelblue;
  margin: 1em auto;
  min-height: 4em;
  padding: 1em;
  text-align: center;
}

.submit_postcode:hover {
    color: steelblue;
    background: rgb(23, 79, 124);
    border: 3px solid rgb(23, 79, 124);
}

.hidden {
  display: none;
}



.map-container {
  height: 400px;
}