/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.submit_postcode {
  color: #fff;
  background-color: steelblue;
  border-color: steelblue;
  margin: 5px;
}



.distance_km{
  width: 80%;
  background: green;
  margin: 1em auto;
  min-height: 4em;
  padding: 1em;
  text-align: center;
}
.submit_postcode{
  display: block;
	border: 3px solid black;
	color: #fff;
  width: 80%;
  background: black;
  margin: 1em auto;
  padding: 1em;
}
.submit_postcode:hover {
    color: #0e83cd;
    background: black;
}

.hidden {
  display: none;
}

